:root{
    --primary: #0C482B;
    --secondary: #15B6DA;
    --lightfill: #F1F4F2;
    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --white: #fff;

    /* typography */
    --h1: 56px;
    --h2: 40px;
    --h3: 28px;
    --h4: 20px;
    --text: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Nunito', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

body{
    background-color: var(--primary);
}


/* typography */
h1,h2,h3,h4{
    color: var(--gray-1);
}
h1{
    font-size: var(--h1);
}
h2{
    font-size: var(--h2);
}
h3{
    font-size: var(--h3);
}
h4{
    font-size: var(--h4);
}
.text{
    font-size: var(--text);
    line-height: calc(1.4 * 16px);
}



/* Navigation */

.navigation{
       background: var(--lightfill);
       
}
.navigation .navigation-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

.navigation-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navigation li { margin-right: 26px; }

.navigation li a{
    color: var var(--gray-3);
    text-decoration: none;
}

.navigation li:last-child{
    margin-right: 0;
}





/* Hero */



/* Map and chart */




/* Footer */




