:root{
    --primary: #0C482B;
    --secondary: #15B6DA;
    --lightfill: #F1F4F2;
    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --white: #fff;

    /* typography */
    --h1: 64px;
    --h2: 40px;
    --h3: 28px;
    --h4: 20px;
    --text: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

body{
    font-family: 'Nunito', sans-serif;
    /* background-color: var(--primary); */
}


/* typography */
h1,h2,h3,h4{
    color: var(--gray-1);
}
h1{
    font-size: var(--h1);
    line-height: calc(1.4 * 64px);
}
h2{
    font-size: var(--h2);
}
h3{
    font-size: var(--h3);
}
h4{
    font-size: var(--h4);
}
.text{
    font-size: var(--text);
    line-height: calc(1.4 * 16px);
}



/* Navigation */

.navigation{
       background: var(--lightfill);
       
}
.navigation .navigation_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

@media (max-width: 576px){

    .navigation .navigation_wrap{
        padding: 1rem 0;
       display: block;
    }

}

.navigation_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
@media (max-width: 576px){
    .navigation_menu{
       margin-top: 1rem;
    }

  
}

.navigation li { margin-right: 26px; }

.navigation li a{
    color: var(--gray-3);
    text-decoration: none;
}

.navigation li a:hover{
    color: var(--gray-1);
}

.navigation li:last-child{
    margin-right: 0;
}



/* Hero */

#hero{
    height: 65vh;
    width: 100%
}
.hero-section{
    background: linear-gradient(0deg, rgba(12, 72, 43, 0.65), rgba(12, 72, 43, 0.65)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.hero-section .primary-heading{
    color: var(--white);
    font-family: 'Playfair Display', serif;
}

@media (max-width: 576px){
    .hero-section .primary-heading{
        color: var(--white);
        font-family: 'Playfair Display', serif;
        font-size: var(--h2);
    }

}

.hero-section .sub-heading{
    color: var(--white);
    text-align: center;
}

/* Brief info before map */

.brief-info{
    min-width: 90%;
    margin: 0 auto;
    padding: 2rem 2rem;
    background-color: var(--lightfill);
    color: var(--secondary);
    margin: 4rem 0;
    text-align: center;
    border-radius: 5px;;
}

/* Map and chart */


#map-chart{
    min-height: 100vh;
}

.chart-wrapper .chart{
    height: 400px;
    margin-top: 3rem;
}

/* Footer */

.footer{
    height: 274px;
    text-align: center;
    padding-top: 80px;
    background: var(--lightfill);
}
.jsmaps-text{
    display: none !important;
}

.footer_copyright{ padding-top: 70px;  }

.footer_copyright--bold a{
    font-weight: 600;
    text-decoration: none;
    color: var(--gray-1)
}

.footer_svg {
   fill: none;
}
.footer_svg path{
    fill: var(--gray-3);
}
.footer_svg circle{
    stroke: var(--gray-3);
}

.footer_svg:hover path{
    fill: var(--gray-1);
}
.footer_svg:hover circle{
    stroke: var(--gray-1);
}
 


/* components */

.btn-outline-fine{
    border: 1px solid rgba(0,0,0,.1);
    color: var(--primary);
    transition: box-shadow .3s ease-in;
}
.btn-outline-fine:hover{
   
    box-shadow: 5px 10px 25px rgba(12, 72, 43, 0.17);
}


/*////////////////////////
///// modal css
//////////////////////////*/

/* The Modal (background) */


  /* ///////////// end of modal css */